@model ProjectManager.ViewModels.Users.CreateVM



<fieldset>
    
    <legend>CREATE</legend>
    
    
    <form asp-action="Create" asp-controller="Users" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m=>m.Username)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m=>m.Username)
                </div>
                <div class="col-2">

                    @Html.ValidationMessageFor(m => m.Username)
                </div>

            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-2">
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="col-2">

                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="col-2">

                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.LastName)
                    </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="col-2">

                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <a href="/Users/Index">Back</a>
                    <input type="submit" class="right btn btn-primary" value="Create" />
                </div>
            </div>
        </div>
    </form>
</fieldset>

<h1 asp-for=""></h1>